## Write a lambda function to rearrange positive and negative numbers in a given list

Sample output:

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [64]:
import pandas as pd 
import numpy as np 

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

new_list = sorted(original_list, key = lambda i: 0 if i == 0 else -1/i) 
new_list

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

### Clean the JEOPARDY_DATA.csv so that `round` uses one-hot encoding instead of categorical values AND the `value` column shows a decimal type when you do a type check. HINT: you may need to clean up the column names to make this easier.

In [52]:
import pandas as pd 
import numpy as np 

jeopardy_df = pd.read_csv('JEOPARDY_DATA.csv') 
jeopardy_df.columns = jeopardy_df.columns.str.strip().str.lower().str.replace(" ", "_") 
jeopardy_df

onehotcodingdf = pd.get_dummies(jeopardy_df[['round']])
onehotcodingdf

jeopardy_df['value'] = jeopardy_df['value'].str.strip('$').str.replace(',','').astype(float)
new_jeopardy_df =jeopardy_df.join(onehotcodingdf)
new_jeopardy_df

,show_number,air_date,round,category,value,question,answer,round_Double Jeopardy!,round_Final Jeopardy!,round_Jeopardy!,round_Tiebreaker
0,4680,12/31/2004,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,2000.0,This Puccini opera turns on the solution to 3 ...,Turandot,True,False,False,False
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS",2000.0,In North America this term is properly applied...,a titmouse,True,False,False,False
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,2000.0,"In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker,True,False,False,False
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,2000.0,"From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo,True,False,False,False
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,NaN,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin,False,True,False,False

### (Bonus) Why do you think it might be inconvenient that python does not have a "first-class" money type and that you have to use a decimal type instead?

It makes the data-cleaning process longer and more tedious and it can be more difficult to organize our code and dataframes when we don't have access to "first-class" money types.